<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h1>Sign up</h1>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>